! {{{ Colors
! black
*color0: #435B67
*color8: #A1B0B8
! red
*color1: #FC3841
*color9: #FC746D
! green
*color2: #5CF19E
*color10: #ADF7BE
! yellow
*color3: #FED032
*color11: #FEE16C
! blue
*color4: #37B6FF
*color12: #70CFFF
! magenta
*color5: #FC226E
*color13: #FC669B
! cyan
*color6: #59FFD1
*color14: #9AFFE6
! white
*color7: #FFFFFF
*color15: #FFFFFF
! }}}

! {{{ Xft
Xft.autohint:   0
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
! }}}

! {{{ URxvt
! Prevent autoscrolling. Go down after keypress
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt*font: xft:Go Mono:size=10,xft:TerminessTTF Nerd Font Mono:size=12
URxvtS*font: xft:Go Mono:size=14,xft:TerminessTTF Nerd Font Mono:size=16
URxvt*savelines: 65535
URxvt*loginshell: false
URxvt*scrollBar: false
URxvt*urgentOnBell: true
URxvt*depth: 32

URxvt*background: [90]#1D262A
URxvt*foreground: #E7EBED
URxvt*colorBD: #EAEAEA
URxvt*colorIT: #EAEAEA
URxvt*highlightColor: #4E6A78
URxvt*highlightTextColor: #E7EBED

URxvt*lineSpace: 0
URxvt*letterSpace: 0

! Prevent autoprint console entry
URxvt*print-pipe: "cat > /dev/null"
! }}}

! {{{ XAutoLock
Xautolock.locker: /home/owlbook/.bin/lock
Xautolock.time: 3
Xautolock.resetsaver: true
! }}}
